In [1]:
import pandas as pd

In [3]:
df_Nonspammer = pd.read_csv(
                    "./Honeypot/nonspam_tweets.csv", encoding="ISO-8859-1")[['text', 'maliciousMark']]
df_Spammer = pd.read_csv(
    "./Honeypot/spam_tweets.csv", encoding="ISO-8859-1")[['text', 'maliciousMark']]
df = pd.concat([df_Nonspammer, df_Spammer])
del df_Nonspammer, df_Spammer

In [17]:
df[:5]

                                                text  maliciousMark
0              That just seriously ruined my night..              0
1  @JessleaC I no they are so funny ..! I love yo...              0
2  @honkwas might drive so we could go subway or ...              0
3  RT @4dize: my friends keep tellin me, that if ...              0
4  That @brad_frost post is bourne out by my expe...              0

In [18]:
df_h[:5]

                                                text maliciousMark
1              That just seriously ruined my night..             0
2  @JessleaC I no they are so funny ..! I love yo...             0
3  @honkwas might drive so we could go subway or ...             0
4  RT @4dize: my friends keep tellin me, that if ...             0
5  That @brad_frost post is bourne out by my expe...             0

In [8]:
len(df)

1145189

In [6]:
len(df[df['maliciousMark']== 1])

203160

In [7]:
len(df[df['maliciousMark']== 0])

942029

In [10]:
import os

In [11]:
print("Loading HSpam14 dataset")
df_h = pd.read_html(os.path.join("HSpam14", "FullDataFromSQLHSpam14.html"))[
    0].iloc[1:, :]
df_h.columns = ['text', 'maliciousMark']

Loading HSpam14 dataset

In [12]:
len(df_h)

1145190

In [15]:
len(df_h[df_h['maliciousMark']== '1'])

203160

In [16]:
len(df_h[df_h['maliciousMark']== '0'])

942030